on: push

defaults:
  run:
    shell: bash

# 同時に動くワークフローは1個だけ；先行ワークフローは自動キャンセル
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-app
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version-file: .nvmrc
    - run: npm ci
    - run: npm run build --if-present --workspaces
    - run: npm run testall

  deploy_api:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [test]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version-file: .nvmrc
    - run: npm ci
    - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
        aws-region: ap-northeast-1
    - run: npm run build:api
    - run: npm run deploy:api
      env:
        CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
        BUCKET_BACKEND: ${{ secrets.BUCKET_BACKEND }}
    - run: npm run prune -w @avshare3/api
      env:
        FUNCTION_NAME: ${{ secrets.FUNCTION_NAME }}

  deploy_gui:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [test]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version-file: .nvmrc
    - run: npm ci
    - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
        aws-region: ap-northeast-1
    - run: npm run deploy:gui
      env:
        BUCKET_FRONTEND: ${{ secrets.BUCKET_FRONTEND }}
