on: push

defaults:
  run:
    shell: bash

# 同時に動くワークフローは1個だけ；先行ワークフローは自動キャンセル
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-app
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - run: npm ci
      - name: Build api
        run: npm run build -w @avshare3/api
      - name: Build gui
        run: npm run generate -w @avshare3/gui
      - run: npm run format
      - run: npm run lint
      - run: npm run test
      - uses: docker/setup-buildx-action@v3
      - name: Docker build test
        run: docker build --build-arg BUILDKIT_SYNTAX=docker/dockerfile:1.20 -t my:test .

  deploy:
    if: ${{ github.ref_name == 'main' }}
    needs: [test]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6

      # Signin to AWS
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: ap-northeast-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Docker build & push
      - uses: docker/setup-buildx-action@v3
      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: bruin-iwai/avshare3
          IMAGE_TAG: latest
        run: |
          docker build --build-arg BUILDKIT_SYNTAX=docker/dockerfile:1.20 -t "$REGISTRY/$REPOSITORY:$IMAGE_TAG" .
          docker push "$REGISTRY/$REPOSITORY:$IMAGE_TAG"
